<section class="slider">
    <div class="swiper main-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="slider__item slider__item-first">
                    <div class="container">
                        <div class="slider__item-box">
                            <div class="slider__content slider__content-first"></div>
                            <div class="slider__content slider__content-text">
                                <h1 class="slider__title">фантастическая
                                    распродажа до −50%
                                </h1>
                                <p class="slider__descr">укрепление и развитие структуры требуют определения</p>
                                <a class="slider__btn" href="#">Кол ту экшн</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="slider__item slider__item-second">
                    <div class="container">
                        <div class="slider__item-box">
                            <div class="slider__content slider__content-first"></div>
                            <div class="slider__content slider__content-text">
                                <h1 class="slider__title">new! new! new!
                                </h1>
                                <p class="slider__descr">постоянное информационнопропагандистское обеспечение</p>
                                <a class="slider__btn" href="#">Кол ту экшн</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="slider__item slider__item-third">
                    <div class="container">
                        <div class="slider__item-box">
                            <div class="slider__content slider__content-first"></div>
                            <div class="slider__content slider__content-text">
                                <h1 class="slider__title">другой текст
                                </h1>
                                <p class="slider__descr">соображения высшего порядка,а также постоянный количественный
                                    рост
                                </p>
                                <a class="slider__btn" href="#">Кол ту экшн</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="slider__item slider__item-fourth">
                    <div class="container">
                        <div class="slider__item-box">
                            <div class="slider__content slider__content-first"></div>
                            <div class="slider__content slider__content-text">
                                <h1 class="slider__title">фантастическая
                                    распродажа до −50%
                                </h1>
                                <p class="slider__descr">начало повседневной работы по формированию позиции</p>
                                <a class="slider__btn" href="#">Кол ту экшн</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="slider__item slider__item-fifth">
                    <div class="container">
                        <div class="slider__item-box">
                            <div class="slider__content slider__content-first"></div>
                            <div class="slider__content slider__content-text">
                                <h1 class="slider__title">new! new! new!
                                </h1>
                                <p class="slider__descr">требуют определения и уточнения системы обучения кадров</p>
                                <a class="slider__btn" href="#">Кол ту экшн</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</section>