<section class="top">
    <div class="container">
        <div class="top__inner">
            <a class="top__img-link" href="#">
                <img class="top__img top__img-him" src="../images/content/fo-him.png" alt="him">
                <span class="top__subtitle-him top__subtitle">для него</span>
            </a>
            <a class="top__img-link" href="#">
                <img class="top__img top__img-her" src="../images/content/fo-her.png" alt="her">
                <span class="top__subtitle-her top__subtitle">для нее</span>
            </a>
        </div>
    </div>
</section>