<section class="stock">
    <div class="container">
        <div class="swiper swiper-stock">
            <div class="slider-box">
                <h2 class="title__stock">акции</h2>
                <div class="slider-btn-box">
                    <div class="swiper-button-prev">
                        <svg width="40" height="16" viewBox="0 0 40 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M0.292893 8.70711C-0.0976311 8.31658 -0.0976311 7.68342 0.292893 7.29289L6.65685 0.928933C7.04738 0.538408 7.68054 0.538408 8.07107 0.928933C8.46159 1.31946 8.46159 1.95262 8.07107 2.34315L2.41421 8L8.07107 13.6569C8.46159 14.0474 8.46159 14.6805 8.07107 15.0711C7.68054 15.4616 7.04738 15.4616 6.65685 15.0711L0.292893 8.70711ZM39 7C39.5523 7 40 7.44772 40 8C40 8.55229 39.5523 9 39 9L39 7ZM1 7L39 7L39 9L1 9L1 7Z"
                                fill="black" />
                        </svg>
                    </div>
                    <div class="swiper-button-next">
                        <svg width="40" height="16" viewBox="0 0 40 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M39.7071 8.70711C40.0976 8.31658 40.0976 7.68342 39.7071 7.29289L33.3431 0.928932C32.9526 0.538407 32.3195 0.538407 31.9289 0.928932C31.5384 1.31946 31.5384 1.95262 31.9289 2.34315L37.5858 8L31.9289 13.6569C31.5384 14.0474 31.5384 14.6805 31.9289 15.0711C32.3195 15.4616 32.9526 15.4616 33.3431 15.0711L39.7071 8.70711ZM1 7C0.447716 7 4.82823e-08 7.44771 0 8C-4.82823e-08 8.55228 0.447716 9 1 9L1 7ZM39 7L1 7L1 9L39 9L39 7Z"
                                fill="black" />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="swiper-wrapper">
                <div class="swiper-slide stock__slider-item">
                    <div class="stock__slider-top"></div>
                    <div class="stock__slider-content">
                        <h3 class="stock__slider-title">
                            <a class="stock__slider-link">Название</a>
                        </h3>
                        <span class="stock__slider-data">19.01</span>
                    </div>
                </div>
                <div class="swiper-slide stock__slider-item">
                    <div class="stock__slider-top"></div>
                    <div class="stock__slider-content">
                        <h3 class="stock__slider-title">
                            <a class="stock__slider-link">Название</a>
                        </h3>
                        <span class="stock__slider-data">19.01</span>
                    </div>
                </div>
                <div class="swiper-slide stock__slider-item">
                    <div class="stock__slider-top"></div>
                    <div class="stock__slider-content">
                        <h3 class="stock__slider-title">
                            <a class="stock__slider-link">Название</a>
                        </h3>
                        <span class="stock__slider-data">19.01</span>
                    </div>
                </div>
                <div class="swiper-slide stock__slider-item">
                    <div class="stock__slider-top"></div>
                    <div class="stock__slider-content">
                        <h3 class="stock__slider-title">
                            <a class="stock__slider-link">Название</a>
                        </h3>
                        <span class="stock__slider-data">19.01</span>
                    </div>
                </div>
                <div class="swiper-slide stock__slider-item">
                    <div class="stock__slider-top"></div>
                    <div class="stock__slider-content">
                        <h3 class="stock__slider-title">
                            <a class="stock__slider-link">Название</a>
                        </h3>
                        <span class="stock__slider-data">19.01</span>
                    </div>
                </div>
                <div class="swiper-slide stock__slider-item">
                    <div class="stock__slider-top"></div>
                    <div class="stock__slider-content">
                        <h3 class="stock__slider-title">
                            <a class="stock__slider-link">Название</a>
                        </h3>
                        <span class="stock__slider-data">19.01</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>