<header class="header">
    <div class="container-header">
        <div class="header__inner">
            <div class="header__top">
                <div class="header__location">
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M10.8376 16.3499L16.3501 1.6499L1.65015 7.16237L8.05538 9.49155L8.38763 9.61236L8.50844 9.94461L10.8376 16.3499Z"
                            stroke="black" />
                    </svg>
                    <span class="header__location-text">Ваш город</span>
                </div>
                <a class="logo" href="#">
                    <img class="logo-img" src="../images/logo.svg" alt="Logo">
                </a>
                <ul class="user-nav">
                    <li class="user-nav__item">
                        <div class="serch-popup">
                            <input class="serch__input" type="text" placeholder="Поиск по товарам">
                        </div>
                        <a class="user-nav__link searh-link" href="#">
                            <svg width="22" height="22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M18.188 9.662a8.526 8.526 0 1 1-17.051 0 8.526 8.526 0 0 1 17.051 0zm-1.303 6.42a9.626 9.626 0 0 0 2.44-6.42C19.325 4.326 14.999 0 9.662 0a9.662 9.662 0 1 0 0 19.325 9.626 9.626 0 0 0 6.42-2.44L21.195 22l.804-.804-5.115-5.115z"
                                    fill="#000" />
                            </svg>
                        </a>
                    </li>
                    <li class="user-nav__item">
                        <a class="user-nav__link favor-link" href="#">
                            <svg width="26" height="24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="m22.449 12.702.357.35-.357-.35-5.773 5.91-3.235 3.31-.441.453-.442-.452-3.235-3.312-.357.35.357-.35-5.772-5.909c-.635-.65-1.783-2.167-2.264-3.97C.83 7.014.965 5.06 2.805 3.177c.93-.953 1.862-1.444 2.75-1.648.892-.206 1.772-.13 2.608.103 1.745.487 3.22 1.655 3.858 2.307l.62.635.358.366.358-.366.62-.635c.638-.652 2.114-1.82 3.859-2.307l-.134-.48.134.48c.835-.233 1.716-.309 2.608-.103.888.204 1.82.696 2.75 1.648 1.84 1.884 1.976 3.838 1.519 5.554-.48 1.803-1.628 3.32-2.264 3.97z"
                                    stroke="#000" />
                            </svg>
                        </a>
                    </li>
                    <li class="user-nav__item">
                        <a class="user-nav__link basket-link" href="#">
                            <span class="nav__num">12</span>
                            <svg width="20" height="26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M.963 7.642h18.073v16.983H.963V7.642z" stroke="#000" />
                                <mask id="a" fill="#fff">
                                    <path
                                        d="M14.622 9.594V5.573c0-1.246-.488-2.441-1.356-3.322A4.6 4.6 0 0 0 9.99.875a4.6 4.6 0 0 0-3.275 1.376 4.732 4.732 0 0 0-1.357 3.322v4.021" />
                                </mask>
                                <path
                                    d="m13.266 2.251-.712.702.712-.702zm-6.55 0 .711.702-.712-.702zm8.906 7.343V5.573h-2v4.021h2zm0-4.021c0-1.507-.59-2.954-1.644-4.024l-1.424 1.404a3.732 3.732 0 0 1 1.068 2.62h2zm-1.644-4.024A5.6 5.6 0 0 0 9.99-.125v2a3.6 3.6 0 0 1 2.564 1.078l1.424-1.404zM9.99-.125a5.6 5.6 0 0 0-3.987 1.674l1.424 1.404A3.6 3.6 0 0 1 9.99 1.875v-2zM6.003 1.549a5.732 5.732 0 0 0-1.645 4.024h2c0-.985.386-1.927 1.07-2.62L6.002 1.55zM4.358 5.573v4.021h2V5.573h-2z"
                                    fill="#000" mask="url(#a)" />
                            </svg>
                        </a>
                    </li>
                    <li class="user-nav__item">
                        <a class="user-nav__link user-link" href="#">
                            <svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="12" cy="12" r="11.5" stroke="#000" />
                                <path d="M15 8.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM20.074 20.726a8.504 8.504 0 0 0-16.074 0"
                                    stroke="#000" />
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <nav class="menu">
                <ul class="menu__list">
                    <li class="menu__item">
                        <a class="menu__link" href="#">
                            каталог
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">
                            акции
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">
                            новинки
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">
                            магазины
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>