<header class="header">
    <div class="container-header">
        <div class="header__inner">
            <div class="header__top">
                <button class="burger">
                    <svg width="24" height="17" viewBox="0 0 24 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <line y1="0.5" x2="24" y2="0.5" stroke="black" />
                        <line y1="8.5" x2="24" y2="8.5" stroke="black" />
                        <line y1="16.5" x2="24" y2="16.5" stroke="black" />
                    </svg>
                </button>
                <a class="logo" href="#">
                    <img class="logo-img" src="../images/logo.svg" alt="Logo">
                </a>
                <div class="search">
                    <div class="serch-popup">
                        <input class="serch__input" type="text" placeholder="Поиск по товарам">
                    </div>
                    <a class="user-nav__link searh-link" href="#">
                        <svg width="22" height="22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M18.188 9.662a8.526 8.526 0 1 1-17.051 0 8.526 8.526 0 0 1 17.051 0zm-1.303 6.42a9.626 9.626 0 0 0 2.44-6.42C19.325 4.326 14.999 0 9.662 0a9.662 9.662 0 1 0 0 19.325 9.626 9.626 0 0 0 6.42-2.44L21.195 22l.804-.804-5.115-5.115z"
                                fill="#000" />
                        </svg>
                    </a>
                </div>
            </div>
            <div class="menu-overlay">
            </div>
            <div class="header__bottom">
                <div class="header__location">
                    <span class="location-item app-location">Ваш город</span>
                    <div class="modal-location">
                        <a class="location-item" href="#">Алматы</a>
                        <a class="location-item" href="#">Астана</a>
                        <a class="location-item" href="#">Костанай</a>
                        <a class="location-item" href="#">Казахстан</a>
                        <a class="location-item" href="#">Россия</a>
                    </div>
                </div>
                <nav class="menu">
                    <ul class="menu__list">
                        <li class="menu__item">
                            <a class="menu__link" href="#">
                                каталог
                            </a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" href="#">
                                акции
                            </a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" href="#">
                                новинки
                            </a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" href="#">
                                магазины
                            </a>
                        </li>
                    </ul>
                </nav>
                <ul class="user-nav">
                    <li class="user-nav__item">
                        <a class="user-nav__link favor-link" href="#">
                            <svg width="26" height="24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="m22.449 12.702.357.35-.357-.35-5.773 5.91-3.235 3.31-.441.453-.442-.452-3.235-3.312-.357.35.357-.35-5.772-5.909c-.635-.65-1.783-2.167-2.264-3.97C.83 7.014.965 5.06 2.805 3.177c.93-.953 1.862-1.444 2.75-1.648.892-.206 1.772-.13 2.608.103 1.745.487 3.22 1.655 3.858 2.307l.62.635.358.366.358-.366.62-.635c.638-.652 2.114-1.82 3.859-2.307l-.134-.48.134.48c.835-.233 1.716-.309 2.608-.103.888.204 1.82.696 2.75 1.648 1.84 1.884 1.976 3.838 1.519 5.554-.48 1.803-1.628 3.32-2.264 3.97z"
                                    stroke="#000" />
                            </svg>
                        </a>
                    </li>
                    <li class="user-nav__item">
                        <a class="user-nav__link basket-link" href="#">
                            <span class="nav__num">12</span>
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                width="26px" height="24px" viewBox="0 0 26 24" version="1.1">
                                <path
                                    style="fill:none;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;stroke-miterlimit:10;"
                                    stroke="rgb(0%,0%,0%)" d="M 44 18 L 54 18 L 54 63 L 10 63 L 10 18 Z M 44 18 "
                                    transform="matrix(0.40625,0,0,0.375,0,0)" />
                                <path
                                    style="fill:none;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;stroke-miterlimit:10;"
                                    stroke="rgb(0%,0%,0%)"
                                    d="M 22 24 L 22 11 C 22 5.479167 26.480769 1 32 1 C 37.519231 1 42 5.479167 42 11 L 42 24 "
                                    transform="matrix(0.40625,0,0,0.375,0,0)" />
                            </svg>
                        </a>
                    </li>
                    <li class="user-nav__item">
                        <a class="user-nav__link user-link" href="#">
                            <svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="12" cy="12" r="11.5" stroke="#000" />
                                <path d="M15 8.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM20.074 20.726a8.504 8.504 0 0 0-16.074 0"
                                    stroke="#000" />
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>