<section class="contact service">
    <div class="container">
        <h1 class="title">контакты</h1>
        <div class="contact__inner service__inner">
            <div class="contact__item service__item">
                <h2 class="subtitle">Филиал в Алматы</h2>
                <div class="contact__box service__box">
                    <div class="contact__phone">+77073593441</div>
                    <address class="contact__address">БЦ Capital Tower, ул. Абиша Кекилбайулы 34, 7 этаж, 705 кабинет
                    </address>
                </div>
            </div>

            <div class="contact__item service__item">
                <h2 class="subtitle">Филиал в Астане</h2>
                <div class="contact__box service__box">
                    <div class="contact__phone">+77478794895</div>
                    <address class="contact__address">ТД Happy, ул Ракымжын Кошкарбаева 2, бутик 32
                    </address>
                </div>
            </div>

            <div class="contact__item service__item">
                <h2 class="subtitle">Филиал в Костанае</h2>
                <div class="contact__box service__box">
                    <div class="contact__phone">+77000200543</div>
                    <address class="contact__address">ТД ЦУМ, 1 этаж, бутик 45/1
                    </address>
                </div>
            </div>

            <div class="contact__item service__item">
                <h2 class="subtitle">Instagram</h2>
                <div class="contact__box service__box">
                    <div class="contact__phone">@luvr_kz</div>
                </div>
            </div>
        </div>
    </div>
</section>