<section class="delivery service">
    <div class="container">
        <h1 class="service__title">Доставка и оплата</h1>
        <div class="delivery__inner service__inner">
            <div class="delivery__item service__item">
                <h2 class="delivery__subtitle service__subtitle">Оформление заказа</h2>
                <div class="delivery__box service__box">
                    <p class="delivery__text service__text">
                    <ul class="delivery__list service__list">
                        <li class="delivery__list-item service__list-item">
                            Нажмите на карточку товара и выберете нужный вам объём. Далее нажмите кнопку «Добавить в
                            корзину». Вы можете добавить несколько товаров в карзину.
                        </li>
                        <li class="delivery__list-item service__list-item">
                            Перейдите в раздел «Корзина».
                        </li>
                        <li class="delivery__list-item service__list-item">
                            Для заказа укажите Ваши контактные данные (Ф.И.О. получателя, телефон, электронную почту,
                            город доставки, адрес).
                        </li>
                        <li class="delivery__list-item service__list-item">
                            Выберите удобный способ оплаты (Карта Visa/Mastercard, Kaspi Red/Рассрочка, Qiwi кошелек).
                            Если вы заказываете из России, можете оплатить через Qiwi кошелек.
                        </li>
                        <li class="delivery__list-item service__list-item">Нажмите кнопку «Купить».</li>
                        <li class="delivery__list-item service__list-item">
                            После оформления заказа Вы получите на ваш электронный адрес сообщение, содержащее
                            информацию
                            о заказе (номер заказа, состав и стоимость заказа).
                        </li>
                        <li class="delivery__list-item service__list-item">
                            Перед отправлением заказа вам позвонит менеджер для подтверждения адреса и времени доставки.
                        </li>
                        <li class="delivery__list-item service__list-item">
                            Информацию о своих заказах (актуальных и выполненных) Вы всегда сможете посмотреть в своем
                            аккаунте в разделе “История заказов”.
                        </li>
                    </ul>
                    </p>
                </div>
            </div>

            <div class="delivery__item service__item">
                <h2 class="delivery__subtitle service__subtitle">Личный кабинет</h2>
                <div class="delivery__box service__box">
                    <p class="delivery__text service__text">
                        Для входа в аккаунт необходимо ввести номер мобильного телефона. После вы получите SMS-сообщение
                        с кодом для авторизации.
                    </p>
                </div>
            </div>

            <div class="delivery__item service__item">
                <h2 class="delivery__subtitle service__subtitle">Доставка</h2>
                <div class="delivery__box service__box">
                    <p class="service__text">
                    <ul class="delivery__list service__list">
                        <li class="delivery__list-item service__list-item">
                            Доставка по Алмате, Астане производится через яндекс курьер. При заказе от 25.000 тг,
                            доставка по городу бесплатно.
                        </li>
                        <li class="delivery__list-item service__list-item">
                            Доставка в другие города Казахстана производиться через курьерскую CDEK. Если вы заказали
                            до 12:00 по времени Астаны, ваш заказ будет передан в курьерскую службу в тот же день. Если
                            вы заказали после 12:00 по времени Астаны, ваш заказ будет передан в курьерскую службу на
                            следующий день. Доставка по Казахстану бесплатно при заказе от 75.000 тг.
                        </li>
                        <li class="delivery__list-item service__list-item">
                            Доставка по СНГ производиться через курьерскую службу CDEK. Если вы заказали до 12:00 по
                            времени Астаны, ваш заказ будет передан в курьерскую службу в тот же день. Если вы заказали
                            после 12:00 по времени Астаны, ваш заказ будет передан в курьерскую службу на следующий
                            день. Доставка по Казахстану бесплатно при заказе от 75.000 тг.
                        </li>
                    </ul>
                    </p>
                </div>
            </div>

            <div class="delivery__item service__item">
                <h2 class="delivery__subtitle service__subtitle">Можно ли обменять или вернуть товар?</h2>
                <div class="delivery__box service__box">
                    <p class="delivery__text service__text">
                        В соответствии с Законом Республики Казахстан “О защите прав потребителей”
                        парфюмерно-косметические изделия потребитель может вернуть в течение 14 дней, если приобретенный
                        товар не был вскрыт и использован, имеет при себе ярлычки и целостность упаковки (слюда), либо в
                        случае предоставления документа о том что товар ненадлежащего качества. Не принадлежит возврату
                        товар приобретенный по акции и скидке.
                    </p>
                </div>
            </div>

            <div class="delivery__item service__item">
                <h2 class="delivery__subtitle service__subtitle">Что делать, если Вам доставили бракованный
                    товар?</h2>
                <div class="delivery__box service__box">
                    <p class="delivery__text service__text">
                        Если Вы получили товар с заводским дефектом, этот товар подлежит возврату. В случае возврата Вам
                        необходимо написать на WhatsApp +77073593441 и прикрепить фотографию чека, фотографию товара и
                        его штрих код. После получения заявки на возврат с Вами свяжется администратор магазина. При
                        возврате Вам необходимо предъявить сам товар и сопроводительные документы к заказу. Возврат
                        денежных средств осуществляется на расчётный счёт.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>