<section class="shopping service">
    <div class="container">
        <h1 class="title title-hidden">Покупки LUVR</h1>
        <div class="shopping__active">
            <h2 class="title">активные</h2>
            <div class="shopping__item">
                <div class="shopping__box">
                    <a class="shopping__link" href="#">
                        <img class="shopping__img" src="../images/cart/1.jpg" alt="Product">
                    </a>
                    <div class="shopping__row">
                        <div class="shopping__process">Обрабатывается</div>
                        <span class="shopping__num">NQD-805-320</span>
                        <h3 class="shopping__title">
                            <a class="shopping__title-link" href="#">BYREDO bal d'afrique</a>
                        </h3>
                        <a class="shopping__link-more" href="#">и еще <span>4</span>...</a>
                    </div>
                </div>
                <div class="shopping__column">
                    <button class="shopping__btn-info">
                        <svg width="18" height="4" viewBox="0 0 18 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M1.9813 4C3.06542 4 4 3.11927 4 1.98165C4 0.844038 3.06542 0 1.9813 0C0.897183 0 0 0.844038 0 1.98165C0 3.11927 0.897183 4 1.9813 4Z"
                                fill="black" />
                            <path
                                d="M8.9813 4C10.0654 4 11 3.11927 11 1.98165C11 0.844038 10.0654 0 8.9813 0C7.89718 0 7 0.844038 7 1.98165C7 3.11927 7.89718 4 8.9813 4Z"
                                fill="black" />
                            <path
                                d="M15.9813 4C17.0654 4 18 3.11927 18 1.98165C18 0.844038 17.0654 0 15.9813 0C14.8972 0 14 0.844038 14 1.98165C14 3.11927 14.8972 4 15.9813 4Z"
                                fill="black" />
                        </svg>
                    </button>
                    <div class="shopping__item-price">108 128<span>₸</span></div>
                    <div class="shopping__data">20.01.2023</div>
                </div>
            </div>
        </div>

        <div class="shopping__archive">
            <h2 class="title">архив</h2>
            <div class="product-min__item">
                <div class="product-min__item-box">
                    <a class="product-min__link" href="#">
                        <img class="product-min__img" src="../images/cart/1.jpg" alt="Product">
                    </a>
                    <div class="product-min__box">
                        <h3 class="product-min__title">
                            <a class="product-min__title-link" href="#">BYREDO bal d'afrique</a>
                        </h3>
                        <span class="product-min__size">50 мл</span>
                    </div>
                    <div class="quantity">
                        <button class="quantity__btn quantity__btn-plus">
                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M11.2198 5.30411H6.75578V0.912109H5.24378V5.30411H0.779785V6.72011H5.24378V11.0881H6.75578V6.72011H11.2198V5.30411Z"
                                    fill="black" />
                            </svg>
                        </button>
                        <input class="quantity__input" type="text" value="1">
                        <button class="quantity__btn quantity__btn-minus">
                            <svg width="8" height="2" viewBox="0 0 8 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.855957 1.74386H7.14396V0.255859H0.855957V1.74386Z" fill="black" />
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="product-min__item-price">108 128<span>₸</span></div>
            </div>
            <div class="product-min__item">
                <div class="product-min__item-box">
                    <a class="product-min__link" href="#">
                        <img class="product-min__img" src="../images/cart/1.jpg" alt="Product">
                    </a>
                    <div class="product-min__box">
                        <h3 class="product-min__title">
                            <a class="product-min__title-link" href="#">BYREDO bal d'afrique</a>
                        </h3>
                        <span class="product-min__size">50 мл</span>
                    </div>
                    <div class="quantity">
                        <button class="quantity__btn quantity__btn-plus">
                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M11.2198 5.30411H6.75578V0.912109H5.24378V5.30411H0.779785V6.72011H5.24378V11.0881H6.75578V6.72011H11.2198V5.30411Z"
                                    fill="black" />
                            </svg>
                        </button>
                        <input class="quantity__input" type="text" value="1">
                        <button class="quantity__btn quantity__btn-minus">
                            <svg width="8" height="2" viewBox="0 0 8 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.855957 1.74386H7.14396V0.255859H0.855957V1.74386Z" fill="black" />
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="product-min__item-price">108 128<span>₸</span></div>
            </div>
        </div>
    </div>
</section>