<section class="cart service">
    <div class="container">
        <h1 class="cart__title">корзина</h1>
        <div class="cart__inner">
            <div class="cart__product">
                <div class="product-min__item">
                    <div class="product-min__item-box">
                        <a class="product-min__link" href="#">
                            <img class="product-min__img" src="../images/cart/1.jpg" alt="Product">
                        </a>
                        <div class="product-min__box">
                            <h3 class="product-min__title">
                                <a class="product-min__title-link" href="#">BYREDO bal d'afrique</a>
                            </h3>
                            <span class="product-min__size">50 мл</span>
                        </div>
                        <div class="quantity">
                            <button class="quantity__btn quantity__btn-plus">
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M11.2198 5.30411H6.75578V0.912109H5.24378V5.30411H0.779785V6.72011H5.24378V11.0881H6.75578V6.72011H11.2198V5.30411Z"
                                        fill="black" />
                                </svg>
                            </button>
                            <input class="quantity__input" type="text" value="1">
                            <button class="quantity__btn quantity__btn-minus">
                                <svg width="8" height="2" viewBox="0 0 8 2" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.855957 1.74386H7.14396V0.255859H0.855957V1.74386Z" fill="black" />
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="product-min__item-price">108 128<span>₸</span></div>
                </div>

                <div class="product-min__item">
                    <div class="product-min__item-box">
                        <a class="product-min__link" href="#">
                            <img class="product-min__img" src="../images/cart/1.jpg" alt="Product">
                        </a>
                        <div class="product-min__box">
                            <h3 class="product-min__title">
                                <a class="product-min__title-link" href="#">BYREDO bal d'afrique</a>
                            </h3>
                            <span class="product-min__size">50 мл</span>
                        </div>
                        <div class="quantity">
                            <button class="quantity__btn quantity__btn-plus">
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M11.2198 5.30411H6.75578V0.912109H5.24378V5.30411H0.779785V6.72011H5.24378V11.0881H6.75578V6.72011H11.2198V5.30411Z"
                                        fill="black" />
                                </svg>
                            </button>
                            <input class="quantity__input" type="text" value="1">
                            <button class="quantity__btn quantity__btn-minus">
                                <svg width="8" height="2" viewBox="0 0 8 2" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.855957 1.74386H7.14396V0.255859H0.855957V1.74386Z" fill="black" />
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="product-min__item-price">108 128<span>₸</span></div>
                </div>

                <div class="product-min__item">
                    <div class="product-min__item-box">
                        <a class="product-min__link" href="#">
                            <img class="product-min__img" src="../images/cart/1.jpg" alt="Product">
                        </a>
                        <div class="product-min__box">
                            <h3 class="product-min__title">
                                <a class="product-min__title-link" href="#">BYREDO bal d'afrique</a>
                            </h3>
                            <span class="product-min__size">50 мл</span>
                        </div>
                        <div class="quantity">
                            <button class="quantity__btn quantity__btn-plus">
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M11.2198 5.30411H6.75578V0.912109H5.24378V5.30411H0.779785V6.72011H5.24378V11.0881H6.75578V6.72011H11.2198V5.30411Z"
                                        fill="black" />
                                </svg>
                            </button>
                            <input class="quantity__input" type="text" value="1">
                            <button class="quantity__btn quantity__btn-minus">
                                <svg width="8" height="2" viewBox="0 0 8 2" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.855957 1.74386H7.14396V0.255859H0.855957V1.74386Z" fill="black" />
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="product-min__item-price">108 128<span>₸</span></div>
                </div>

                <div class="product-min__item">
                    <div class="product-min__item-box">
                        <a class="product-min__link" href="#">
                            <img class="product-min__img" src="../images/cart/1.jpg" alt="Product">
                        </a>
                        <div class="product-min__box">
                            <h3 class="product-min__title">
                                <a class="product-min__title-link" href="#">BYREDO bal d'afrique</a>
                            </h3>
                            <span class="product-min__size">50 мл</span>
                        </div>
                        <div class="quantity">
                            <button class="quantity__btn quantity__btn-plus">
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M11.2198 5.30411H6.75578V0.912109H5.24378V5.30411H0.779785V6.72011H5.24378V11.0881H6.75578V6.72011H11.2198V5.30411Z"
                                        fill="black" />
                                </svg>
                            </button>
                            <input class="quantity__input" type="text" value="1">
                            <button class="quantity__btn quantity__btn-minus">
                                <svg width="8" height="2" viewBox="0 0 8 2" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.855957 1.74386H7.14396V0.255859H0.855957V1.74386Z" fill="black" />
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="product-min__item-price">108 128<span>₸</span></div>
                </div>


                <div class="product-min__item">
                    <div class="product-min__item-box">
                        <a class="product-min__link" href="#">
                            <img class="product-min__img" src="../images/cart/1.jpg" alt="Product">
                        </a>
                        <div class="product-min__box">
                            <h3 class="product-min__title">
                                <a class="product-min__title-link" href="#">BYREDO bal d'afrique</a>
                            </h3>
                            <span class="product-min__size">50 мл</span>
                        </div>
                        <div class="quantity">
                            <button class="quantity__btn quantity__btn-plus">
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M11.2198 5.30411H6.75578V0.912109H5.24378V5.30411H0.779785V6.72011H5.24378V11.0881H6.75578V6.72011H11.2198V5.30411Z"
                                        fill="black" />
                                </svg>
                            </button>
                            <input class="quantity__input" type="text" value="1">
                            <button class="quantity__btn quantity__btn-minus">
                                <svg width="8" height="2" viewBox="0 0 8 2" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.855957 1.74386H7.14396V0.255859H0.855957V1.74386Z" fill="black" />
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="product-min__item-price">108 128<span>₸</span></div>
                </div>


                <div class="product-min__item">
                    <div class="product-min__item-box">
                        <a class="product-min__link" href="#">
                            <img class="product-min__img" src="../images/cart/1.jpg" alt="Product">
                        </a>
                        <div class="product-min__box">
                            <h3 class="product-min__title">
                                <a class="product-min__title-link" href="#">BYREDO bal d'afrique</a>
                            </h3>
                            <span class="product-min__size">50 мл</span>
                        </div>
                        <div class="quantity">
                            <button class="quantity__btn quantity__btn-plus">
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M11.2198 5.30411H6.75578V0.912109H5.24378V5.30411H0.779785V6.72011H5.24378V11.0881H6.75578V6.72011H11.2198V5.30411Z"
                                        fill="black" />
                                </svg>
                            </button>
                            <input class="quantity__input" type="text" value="1">
                            <button class="quantity__btn quantity__btn-minus">
                                <svg width="8" height="2" viewBox="0 0 8 2" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.855957 1.74386H7.14396V0.255859H0.855957V1.74386Z" fill="black" />
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="product-min__item-price">108 128<span>₸</span></div>
                </div>


                <div class="product-min__item">
                    <div class="product-min__item-box">
                        <a class="product-min__link" href="#">
                            <img class="product-min__img" src="../images/cart/1.jpg" alt="Product">
                        </a>
                        <div class="product-min__box">
                            <h3 class="product-min__title">
                                <a class="product-min__title-link" href="#">BYREDO bal d'afrique</a>
                            </h3>
                            <span class="product-min__size">50 мл</span>
                        </div>
                        <div class="quantity">
                            <button class="quantity__btn quantity__btn-plus">
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M11.2198 5.30411H6.75578V0.912109H5.24378V5.30411H0.779785V6.72011H5.24378V11.0881H6.75578V6.72011H11.2198V5.30411Z"
                                        fill="black" />
                                </svg>
                            </button>
                            <input class="quantity__input" type="text" value="1">
                            <button class="quantity__btn quantity__btn-minus">
                                <svg width="8" height="2" viewBox="0 0 8 2" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.855957 1.74386H7.14396V0.255859H0.855957V1.74386Z" fill="black" />
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="product-min__item-price">108 128<span>₸</span></div>
                </div>

                <div class="product-min__item">
                    <div class="product-min__item-box">
                        <a class="product-min__link" href="#">
                            <img class="product-min__img" src="../images/cart/1.jpg" alt="Product">
                        </a>
                        <div class="product-min__box">
                            <h3 class="product-min__title">
                                <a class="product-min__title-link" href="#">BYREDO bal d'afrique</a>
                            </h3>
                            <span class="product-min__size">50 мл</span>
                        </div>
                        <div class="quantity">
                            <button class="quantity__btn quantity__btn-plus">
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M11.2198 5.30411H6.75578V0.912109H5.24378V5.30411H0.779785V6.72011H5.24378V11.0881H6.75578V6.72011H11.2198V5.30411Z"
                                        fill="black" />
                                </svg>
                            </button>
                            <input class="quantity__input" type="text" value="1">
                            <button class="quantity__btn quantity__btn-minus">
                                <svg width="8" height="2" viewBox="0 0 8 2" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.855957 1.74386H7.14396V0.255859H0.855957V1.74386Z" fill="black" />
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="product-min__item-price">108 128<span>₸</span></div>
                </div>

                <div class="product-min__item">
                    <div class="product-min__item-box">
                        <a class="product-min__link" href="#">
                            <img class="product-min__img" src="../images/cart/1.jpg" alt="Product">
                        </a>
                        <div class="product-min__box">
                            <h3 class="product-min__title">
                                <a class="product-min__title-link" href="#">BYREDO bal d'afrique</a>
                            </h3>
                            <span class="product-min__size">50 мл</span>
                        </div>
                        <div class="quantity">
                            <button class="quantity__btn quantity__btn-plus">
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M11.2198 5.30411H6.75578V0.912109H5.24378V5.30411H0.779785V6.72011H5.24378V11.0881H6.75578V6.72011H11.2198V5.30411Z"
                                        fill="black" />
                                </svg>
                            </button>
                            <input class="quantity__input" type="text" value="1">
                            <button class="quantity__btn quantity__btn-minus">
                                <svg width="8" height="2" viewBox="0 0 8 2" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.855957 1.74386H7.14396V0.255859H0.855957V1.74386Z" fill="black" />
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="product-min__item-price">108 128<span>₸</span></div>
                </div>
            </div>

            <form class="form__cart" action="#">
                <div class="form__cart-inner">
                    <div class="form__cart-box form__account-box-fio">
                        <label class="form__label" for="fio">ФИО</label>
                        <input class="form__input" type="text" id="fio" placeholder="не указано">
                    </div>
                    <div class="form__cart-box form__box-country">
                        <label class="form__label" for="country">Страна</label>
                        <input class="form__input" id="text" type="country" placeholder="не указано">
                    </div>
                    <div class="form__cart-box form__box-city">
                        <label class="form__label" for="city">Город</label>
                        <input class="form__input" type="text" id="city" placeholder="указано">

                    </div>
                    <div class="form__cart-box form__box-street">
                        <label class="form__label" for="street">Улица</label>
                        <input class="form__input" type="text" id="street" placeholder="указано">
                    </div>
                    <div class="form__cart-address">
                        <div class="form__cart-box form__box-house">
                            <label class="form__label" for="house">Дом</label>
                            <input class="form__input" type="text" id="house" placeholder="указано">
                        </div>
                        <div class="form__cart-box form__box-room">
                            <label class="form__label" for="room">Квартира</label>
                            <input class="form__input" type="text" id="room" placeholder="указано">
                        </div>
                    </div>
                    <div class="form__cart-bottom">
                        <input class="form__cart-promo form__input" type="text" placeholder="Введите промокод">
                        <div class="form__cart-bottom-box">
                            <div class="form__cart-sale">
                                <div class="form__cart-text">Скидка</div>
                                <div class="form__cart-price">-8 128<span>₸</span></div>
                            </div>
                            <div class="form__cart-sale">
                                <div class="form__cart-text">Итого</div>
                                <div class="form__cart-total">108 128<span>₸</span></div>
                            </div>
                        </div>
                    </div>
                    <button class="form__cart-btn" type="submit">Оформить заказ</button>
                </div>
            </form>
        </div>
    </div>
</section>