<section class="faq">
    <div class="container">
        <h1 class="title">часто задаваемые вопросы</h1>
        <div class="faq__inner">
            <div class="faq__item">
                <h2 class="subtitle faq__subtitle">У вас оригиналы?</h2>
                <div class="faq__box">
                    <p class="faq__text">
                        Да, у нас только оригиналы. Сертификаты качества есть.
                    </p>
                </div>
            </div>
            <div class="faq__item">
                <h2 class="subtitle faq__subtitle">Что такое распив?</h2>
                <div class="faq__box">
                    <p class="faq__text">
                        Мы отливаем из оригинального парфюма в маленькие флаконы.
                    </p>
                </div>
            </div>
            <div class="faq__item">
                <h2 class="subtitle faq__subtitle">Можно ли оплатить в рассрочку?</h2>
                <div class="faq__box">
                    <p class="faq__text">
                        Рассрочку предоставляет банк и от него зависит в какие даты будет действовать рассрочка.
                    </p>
                </div>
            </div>
            <div class="faq__item">
                <h2 class="subtitle faq__subtitle">Как заказать в Россию?</h2>
                <div class="faq__box">
                    <p class="faq__text">
                        Вы можете оплатить через qiwi кошелек и указать адрес доставки в России. Доставка осуществляется
                        через курьерскую службу с CDEK. Срок доставки зависит от курьерской службы.
                    </p>
                </div>
            </div>
            <div class="faq__item">
                <h2 class="subtitle faq__subtitle">Можно ли сделать оплату при получении?</h2>
                <div class="faq__box">
                    <p class="faq__text">
                        Мы отправляем Яндекс курьером и они не принимают оплату, поэтому вы можете оплатить наличными
                        только в шоу руме.
                    </p>
                </div>
            </div>
            <p class="faq__connection">
                Если у вас возникли дополнительные вопросы, напишите нам на What’sApp +77073593441 либо в Instagram
                @luvr_kz и наши менеджера с радостью вас проконсультируют.
            </p>
        </div>
    </div>
</section>