<section class="favorites service">
    <div class="container">
        <h1 class="favorites__title">избранное</h1>
        <div class="favorites__inner product__inner">
            <div class="">
                <div class="product__item-box">
                    <a class="product__img-link" href="#">
                        <img class="product__item-img" src="../images/products/1.jpg" alt="Product">
                    </a>
                    <div class="product__item-row">
                        <span class="favorites__new">New</span>
                        <a class="favor-link active" href="#">
                            <svg width="26" height="24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="m22.449 12.702.357.35-.357-.35-5.773 5.91-3.235 3.31-.441.453-.442-.452-3.235-3.312-.357.35.357-.35-5.772-5.909c-.635-.65-1.783-2.167-2.264-3.97C.83 7.014.965 5.06 2.805 3.177c.93-.953 1.862-1.444 2.75-1.648.892-.206 1.772-.13 2.608.103 1.745.487 3.22 1.655 3.858 2.307l.62.635.358.366.358-.366.62-.635c.638-.652 2.114-1.82 3.859-2.307l-.134-.48.134.48c.835-.233 1.716-.309 2.608-.103.888.204 1.82.696 2.75 1.648 1.84 1.884 1.976 3.838 1.519 5.554-.48 1.803-1.628 3.32-2.264 3.97z"
                                    stroke="#000" />
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="product__info">
                    <h3 class="product__title"><a class="product__title-link" href="#">BYREDO bal d'afrique</a></h3>
                    <div class="product__price-new">108 128 <span>₸</span></div>
                    <del class="product__price-old">108 128 <span>₸</span></del>
                </div>
            </div>
            <div class="">
                <div class="product__item-box">
                    <a class="product__img-link" href="#">
                        <img class="product__item-img" src="../images/products/1.jpg" alt="Product">
                    </a>
                    <div class="product__item-row">
                        <span class="favorites__new">New</span>
                        <a class="favor-link active" href="#">
                            <svg width="26" height="24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="m22.449 12.702.357.35-.357-.35-5.773 5.91-3.235 3.31-.441.453-.442-.452-3.235-3.312-.357.35.357-.35-5.772-5.909c-.635-.65-1.783-2.167-2.264-3.97C.83 7.014.965 5.06 2.805 3.177c.93-.953 1.862-1.444 2.75-1.648.892-.206 1.772-.13 2.608.103 1.745.487 3.22 1.655 3.858 2.307l.62.635.358.366.358-.366.62-.635c.638-.652 2.114-1.82 3.859-2.307l-.134-.48.134.48c.835-.233 1.716-.309 2.608-.103.888.204 1.82.696 2.75 1.648 1.84 1.884 1.976 3.838 1.519 5.554-.48 1.803-1.628 3.32-2.264 3.97z"
                                    stroke="#000" />
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="product__info">
                    <h3 class="product__title"><a class="product__title-link" href="#">BYREDO bal d'afrique</a></h3>
                    <div class="product__price-new">108 128 <span>₸</span></div>
                    <del class="product__price-old">108 128 <span>₸</span></del>
                </div>
            </div>
            <div class="">
                <div class="product__item-box">
                    <a class="product__img-link" href="#">
                        <img class="product__item-img" src="../images/products/1.jpg" alt="Product">
                    </a>
                    <div class="product__item-row">
                        <span class="favorites__new">New</span>
                        <a class="favor-link active" href="#">
                            <svg width="26" height="24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="m22.449 12.702.357.35-.357-.35-5.773 5.91-3.235 3.31-.441.453-.442-.452-3.235-3.312-.357.35.357-.35-5.772-5.909c-.635-.65-1.783-2.167-2.264-3.97C.83 7.014.965 5.06 2.805 3.177c.93-.953 1.862-1.444 2.75-1.648.892-.206 1.772-.13 2.608.103 1.745.487 3.22 1.655 3.858 2.307l.62.635.358.366.358-.366.62-.635c.638-.652 2.114-1.82 3.859-2.307l-.134-.48.134.48c.835-.233 1.716-.309 2.608-.103.888.204 1.82.696 2.75 1.648 1.84 1.884 1.976 3.838 1.519 5.554-.48 1.803-1.628 3.32-2.264 3.97z"
                                    stroke="#000" />
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="product__info">
                    <h3 class="product__title"><a class="product__title-link" href="#">BYREDO bal d'afrique</a></h3>
                    <div class="product__price-new">108 128 <span>₸</span></div>
                    <del class="product__price-old">108 128 <span>₸</span></del>
                </div>
            </div>
            <div class="">
                <div class="product__item-box">
                    <a class="product__img-link" href="#">
                        <img class="product__item-img" src="../images/products/1.jpg" alt="Product">
                    </a>
                    <div class="product__item-row">
                        <span class="favorites__new">New</span>
                        <a class="favor-link active" href="#">
                            <svg width="26" height="24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="m22.449 12.702.357.35-.357-.35-5.773 5.91-3.235 3.31-.441.453-.442-.452-3.235-3.312-.357.35.357-.35-5.772-5.909c-.635-.65-1.783-2.167-2.264-3.97C.83 7.014.965 5.06 2.805 3.177c.93-.953 1.862-1.444 2.75-1.648.892-.206 1.772-.13 2.608.103 1.745.487 3.22 1.655 3.858 2.307l.62.635.358.366.358-.366.62-.635c.638-.652 2.114-1.82 3.859-2.307l-.134-.48.134.48c.835-.233 1.716-.309 2.608-.103.888.204 1.82.696 2.75 1.648 1.84 1.884 1.976 3.838 1.519 5.554-.48 1.803-1.628 3.32-2.264 3.97z"
                                    stroke="#000" />
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="product__info">
                    <h3 class="product__title"><a class="product__title-link" href="#">BYREDO bal d'afrique</a></h3>
                    <div class="product__price-new">108 128 <span>₸</span></div>
                    <del class="product__price-old">108 128 <span>₸</span></del>
                </div>
            </div>
            <div class="">
                <div class="product__item-box">
                    <a class="product__img-link" href="#">
                        <img class="product__item-img" src="../images/products/1.jpg" alt="Product">
                    </a>
                    <div class="product__item-row">
                        <span class="favorites__new">New</span>
                        <a class="favor-link active" href="#">
                            <svg width="26" height="24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="m22.449 12.702.357.35-.357-.35-5.773 5.91-3.235 3.31-.441.453-.442-.452-3.235-3.312-.357.35.357-.35-5.772-5.909c-.635-.65-1.783-2.167-2.264-3.97C.83 7.014.965 5.06 2.805 3.177c.93-.953 1.862-1.444 2.75-1.648.892-.206 1.772-.13 2.608.103 1.745.487 3.22 1.655 3.858 2.307l.62.635.358.366.358-.366.62-.635c.638-.652 2.114-1.82 3.859-2.307l-.134-.48.134.48c.835-.233 1.716-.309 2.608-.103.888.204 1.82.696 2.75 1.648 1.84 1.884 1.976 3.838 1.519 5.554-.48 1.803-1.628 3.32-2.264 3.97z"
                                    stroke="#000" />
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="product__info">
                    <h3 class="product__title"><a class="product__title-link" href="#">BYREDO bal d'afrique</a></h3>
                    <div class="product__price-new">108 128 <span>₸</span></div>
                    <del class="product__price-old">108 128 <span>₸</span></del>
                </div>
            </div>
            <div class="">
                <div class="product__item-box">
                    <a class="product__img-link" href="#">
                        <img class="product__item-img" src="../images/products/1.jpg" alt="Product">
                    </a>
                    <div class="product__item-row">
                        <span class="favorites__new">New</span>
                        <a class="favor-link active" href="#">
                            <svg width="26" height="24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="m22.449 12.702.357.35-.357-.35-5.773 5.91-3.235 3.31-.441.453-.442-.452-3.235-3.312-.357.35.357-.35-5.772-5.909c-.635-.65-1.783-2.167-2.264-3.97C.83 7.014.965 5.06 2.805 3.177c.93-.953 1.862-1.444 2.75-1.648.892-.206 1.772-.13 2.608.103 1.745.487 3.22 1.655 3.858 2.307l.62.635.358.366.358-.366.62-.635c.638-.652 2.114-1.82 3.859-2.307l-.134-.48.134.48c.835-.233 1.716-.309 2.608-.103.888.204 1.82.696 2.75 1.648 1.84 1.884 1.976 3.838 1.519 5.554-.48 1.803-1.628 3.32-2.264 3.97z"
                                    stroke="#000" />
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="product__info">
                    <h3 class="product__title"><a class="product__title-link" href="#">BYREDO bal d'afrique</a></h3>
                    <div class="product__price-new">108 128 <span>₸</span></div>
                    <del class="product__price-old">108 128 <span>₸</span></del>
                </div>
            </div>
        </div>
    </div>
</section>