<section class="login">
    <div class="container">
        <h1 class="title login__title">вход</h1>
        <form class="form__page form__login" action="#">
            <div class="form__box-phone">
                <label for="" class="form__label">Телефон
                    <input type="text" class="form__input" placeholder="+7 (900) 000-00-00" required>
                </label>
            </div>
            <div class="form__box-pass">
                <label for="" class="form__label">Пароль
                    <input type="password" class="form__input" placeholder="Введите пароль" required>
                </label>
            </div>
            <a class="form__link" href="#">Забыли пароль?</a>
            <div class="form__row">
                <label for="check">
                    <input class="form__input-checkbox" id="check" type="checkbox">
                    <span class="form__input-checkbox-sqr"></span>
                    <span class="form__input-checkbox-text">Согласен с условиями</span>
                </label>

                <a class="form__link-policy" href="#">Политики
                    конфиденциальности</a>
            </div>
            <button class="form__btn form__btn-submit" type="submit">Войти</button>
        </form>
    </div>
</section>