<section class="goods">
    <div class="container">
        <div class="goods__inner">
            <div class="goods-content__top">
                <div class="goods-content__slide">
                    <div class="goods-content__slide-thumb">
                        <div class="goods-content__slide-thumb-item">
                            <img class="goods-content__slide-thumb-img" src="../images/goods/1-mini.jpg" alt="Товар">
                        </div>
                        <div class="goods-content__slide-thumb-item">
                            <img class="goods-content__slide-thumb-img" src="../images/goods/1-mini.jpg" alt="Товар">
                        </div>
                        <div class="goods-content__slide-thumb-item">
                            <img class="goods-content__slide-thumb-img" src="../images/goods/1-mini.jpg" alt="Товар">
                        </div>
                        <div class="goods-content__slide-thumb-item">
                            <img class="goods-content__slide-thumb-img" src="../images/goods/1-mini.jpg" alt="Товар">
                        </div>
                        <div class="goods-content__slide-thumb-item">
                            <img class="goods-content__slide-thumb-img" src="../images/goods/1-mini.jpg" alt="Товар">
                        </div>
                        <div class="goods-content__slide-thumb-item">
                            <img class="goods-content__slide-thumb-img" src="../images/goods/1-mini.jpg" alt="Товар">
                        </div>
                    </div>

                    <div class="goods-content__slide-big">
                        <div class="goods-content__slide-big-item">
                            <img class="goods-content__slide-big-img" src="../images/goods/1.jpg" alt="Товар">
                        </div>
                        <div class="goods-content__slide-big-item">
                            <img class="goods-content__slide-big-img" src="../images/goods/1.jpg" alt="Товар">
                        </div>
                        <div class="goods-content__slide-big-item">
                            <img class="goods-content__slide-big-img" src="../images/goods/1.jpg" alt="Товар">
                        </div>
                        <div class="goods-content__slide-big-item">
                            <img class="goods-content__slide-big-img" src="../images/goods/1.jpg" alt="Товар">
                        </div>
                        <div class="goods-content__slide-big-item">
                            <img class="goods-content__slide-big-img" src="../images/goods/1.jpg" alt="Товар">
                        </div>
                        <div class="goods-content__slide-big-item">
                            <img class="goods-content__slide-big-img" src="../images/goods/1.jpg" alt="Товар">
                        </div>
                    </div>
                </div>

                <div class="goods-content__desc">
                    <h1 class="title">BYREDO bal d'afrique</h1>
                    <span class="goods__vendor">артикул: 26730600002</span>
                    <form class="goods__form" action="#">
                        <span class="goods__filter">Объем</span>
                        <input type="radio">
                        <input type="radio">

                        <div class="goods__price">
                            <div class="product__price-new">108 128 <span>₸</span></div>
                            <del class="product__price-old">108 128 <span>₸</span></del>
                        </div>

                        <div class="goods__btns">
                            <button class="goods__btn-submit" type="submit">Добавить в корзину</button>
                            <button class="goods__btn-like">
                                <svg width="26" height="24" viewBox="0 0 26 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M22.4486 12.7024L22.8062 13.0518L22.4486 12.7024C21.7035 13.4648 19.0966 16.1333 16.6763 18.6111L13.4412 21.9227L13.4412 21.9227L12.9997 22.3746L12.5583 21.9227L9.32347 18.6111L8.96579 18.9605L9.32347 18.6111C6.90322 16.1334 4.29656 13.4649 3.55148 12.7024C2.91557 12.0516 1.76785 10.5347 1.28712 8.73129L1.28711 8.73128C0.829701 7.0154 0.965293 5.06096 2.80536 3.17753C3.73562 2.22534 4.66724 1.73422 5.55521 1.5296C6.44664 1.32418 7.32734 1.4 8.16279 1.63325C9.90779 2.12045 11.3837 3.2877 12.0212 3.94017C12.0212 3.94018 12.0212 3.94018 12.0212 3.94019L12.6417 4.57536L12.9993 4.94148L13.357 4.57535L13.9775 3.94014C14.6149 3.28761 16.0907 2.12037 17.8359 1.63321L17.7016 1.15235L17.8359 1.63321C18.6713 1.39998 19.552 1.32419 20.4435 1.52966C21.3316 1.73432 22.2633 2.22552 23.1938 3.17784C25.0343 5.06153 25.1699 7.01596 24.7127 8.73164C24.2322 10.5348 23.0846 12.0516 22.4486 12.7024Z"
                                        stroke="white" />
                                </svg>
                            </button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="goods__info">
                <h2 class="goods__title title">информация</h2>
                <div class="goods__tabs">
                    <div class="goods__tabs-control">
                        <button class="goods__tabs-control-btn goods__tabs-control-btn--active">описание</button>
                        <button class="goods__tabs-control-btn ">бренд</button>
                    </div>
                    <div class="goods__tabs-content">
                        <div class="goods__tabs-content-desc anim__opas goods__tabs-content-block goods__tabs--active">
                            <h3 class="goods__tabs-title">BYREDO bal d'afrique</h3>
                            <span class="goods__vendor">артикул: 26730600002</span>
                            <p class="goods__tabs-text">Ревущие двадцатые годы… В знаменитом Мулен Руж жарче, чем в
                                самой
                                Африке, ведь на сцене Жозефина Бейкер! Черная жемчужина, танцующая богиня, ставшая
                                символом
                                эпохи! Воплощение самых смелых мужских фантазий. Bal d’Afrique – страстная смесь теплых
                                и
                                романтических нот ветивера, навеянная образом Парижа конца 20-х годов, африканской
                                культурой, искусством, музыкой и танцами. Парижский авангард и африканская культура
                                создают
                                странное, полное энергии и страстей сочетание. Композиция: бергамот, лимон, нероли,
                                африканская календула, фиалка, лепестки жасмина, цикламен, черный янтарь, мускус,
                                ветивер,
                                марроканский кедр.
                            </p>
                            <h3 class="goods__tabs-subtitle">Подробные характеристики</h3>
                            <dl>
                                <dt>группа аромата</dt>
                                <dd>акватические</dd>
                                <dt>для кого</dt>
                                <dd>унисекс</dd>
                                <dt>страна бренда</dt>
                                <dd>Швеция</dd>
                            </dl>
                        </div>

                        <div class="goods__tabs-content-rev anim__opas goods__tabs-content-block">
                            <h3 class="goods__tabs-title">BYREDO</h3>
                            <span>Швеция</span>
                            <p class="goods__tabs-text">
                                Бренд Byredo основан в 2006 году стокгольмским парфюмером Беном Горхэмом в
                                сотрудничестве с
                                авторами уникальных композиций Джакобетти, Эпинеттом, Альмайраком. В ароматах этой
                                продукции
                                удивительным образом сочетаются экстравагантность, классика, сюрреализм. Они логически
                                завершенные. В них отражены традиции и просматриваются новые источники вдохновения.
                            </p>
                            <p class="goods__tabs-text">
                                Byredo — это средства для ухода, туалетная вода, аксессуары. Они производятся в Швеции,
                                поставляются в 15 стран. Скандинавы щепетильны в вопросах качества, поэтому процесс
                                изготовления строго контролируется.
                            </p>
                            <p class="goods__tabs-text">
                                Основатель бренда родился в семье канадского художника и актрисы из Индии. Его
                                мироощущение
                                — следствие влияния разных культур. Горхэм обожает современное искусство и находится в
                                непрерывном поиске новых способов самовыражения. В своих композициях он пытается
                                отразить
                                многообразие действительности, именно поэтому он экспериментирует с материалами,
                                ароматами.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>