<section class="stock">
    <div class="container">
        <h2 class="title">акции</h2>
        <div class="stock__slider">
            <div class="stock__slider-item">
                <div class="stock__slider-top"></div>
                <div class="stock__slider-content">
                    <h3 class="stock__slider-title">
                        <a class="stock__slider-link">Название</a>
                    </h3>
                    <span class="stock__slider-data">19.01</span>
                </div>
            </div>
            <div class="stock__slider-item">
                <div class="stock__slider-top"></div>
                <div class="stock__slider-content">
                    <h3 class="stock__slider-title">
                        <a class="stock__slider-link">Название</a>
                    </h3>
                    <span class="stock__slider-data">19.01</span>
                </div>
            </div>
            <div class="stock__slider-item">
                <div class="stock__slider-top"></div>
                <div class="stock__slider-content">
                    <h3 class="stock__slider-title">
                        <a class="stock__slider-link">Название</a>
                    </h3>
                    <span class="stock__slider-data">19.01</span>
                </div>
            </div>
            <div class="stock__slider-item">
                <div class="stock__slider-top"></div>
                <div class="stock__slider-content">
                    <h3 class="stock__slider-title">
                        <a class="stock__slider-link">Название</a>
                    </h3>
                    <span class="stock__slider-data">19.01</span>
                </div>
            </div>
            <div class="stock__slider-item">
                <div class="stock__slider-top"></div>
                <div class="stock__slider-content">
                    <h3 class="stock__slider-title">
                        <a class="stock__slider-link">Название</a>
                    </h3>
                    <span class="stock__slider-data">19.01</span>
                </div>
            </div>
            <div class="stock__slider-item">
                <div class="stock__slider-top"></div>
                <div class="stock__slider-content">
                    <h3 class="stock__slider-title">
                        <a class="stock__slider-link">Название</a>
                    </h3>
                    <span class="stock__slider-data">19.01</span>
                </div>
            </div>
        </div>
    </div>
</section>