html,
body {
    height: 100%;
    position: relative;
}

.slider__item-box {
    position: relative;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    display: flex;
    flex-direction: column;
}

input {
    border-radius: 0px;
}

body.hidden-scrolling {
    overflow-y: hidden;
}

.container {
    max-width: 1542px;
    padding: 0 15px;
    margin: 0 auto;
}

.container-header {
    max-width: 1814px;
    padding: 0 15px;
    margin: 0 auto;
}

.swiper {
    max-width: 100%;
}

.swiper-hit {
    max-width: 1512px;
    margin: 0 auto;
}

@media (max-width: 1366px) {
    .container {
        max-width: 1062px;
        padding: 0 15px;
    }

    .container-header {
        padding: 0 68px;
    }

    .account__user-info {
        max-width: 504px;
    }

    .account__notifications {
        max-width: 504px;
    }

    .form__account-box {
        flex-wrap: wrap;
        gap: 24px;
    }

    .form__account-box-email {
        width: 100%;
    }
}

@media (max-width: 640px) {
    .container {
        max-width: 534px;
        padding: 0 15px;
    }

    .container-header {
        padding: 0 15px;
    }
}

@media (max-width: 360px) {
    .container {
        padding: 0 32px;
    }

    .container-header {
        padding: 0 32px;
    }
}

.main {
    flex-grow: 1;
}

.title {
    @extend %montserrat-500;
    color: $text;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 0.05em;
}

.subtitle {
    @extend %montserrat-500;
    color: $text;
    font-size: 32px;
    line-height: 48px;
}

.title-hidden {
    display: none;
}

@keyframes height-open {
    0% {
        opacity: 0;
    }

    50% {
        height: .5;
    }

    100% {
        height: 1;
    }
}

//SLICK-SLIDER

/* .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    position: relative;
    top: -44px;

    & button {
        padding: 0;
        border: none;
        font-size: 0;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #7a7a7a;
        cursor: pointer;
    }
}

.slick-active button {
    background-color: #000000;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transition: all .3s ease 0s;
}

.slick-prev,
.slick-next {
    position: absolute;
    top: -57px;
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}

.slick-prev {
    right: 70px;
}

.slick-next {
    right: 0;
} */

/* PAGINATION */

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    padding-top: 56px;
    transition: all .3s;
}

.pagination__arrows {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination__arrows:hover svg path {
    transition: all .3s;
    fill: #7a7a7a;
}

.pagination__list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination__link {
    font-size: 24px;
    line-height: 32px;
    color: #000000;
    padding: 5px 10px;
    transition: all .3s;

    &:hover {
        transition: all .3s;
        color: rgba($color: #000000, $alpha: 0.5);
        border-bottom: 1px solid #000000;
    }
}

.pagination__link--active {
    color: rgba($color: #000000, $alpha: 0.5);
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.5);
}

/* SWIPPER */

.slider-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.slider-btn-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 18px;
}

.swiper-button-prev,
.swiper-button-next {
    cursor: pointer;
    width: 100%;
    height: 32px;
    transition: fill .3s;
}

.swiper-button-prev:hover svg path,
.swiper-button-next:hover svg path {
    transition: fill .3s;
    fill: #7a7a7a;
}

.swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-pagination-bullet {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    position: relative;
    top: -44px;
    cursor: pointer;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #000000;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    transition: all .3s ease 0s;
}