@import 'vars';
/* Переменные */
@import 'fonts';
/* Шрифты */
@import 'libs';
/*библиотеки*/
@import 'reset';
/* Сброс */
@import 'global';
/* Глобальные стили */

.catalog {
    padding-bottom: 88px;

    &-content {
        position: relative;

        &__sticky {
            position: sticky;
            top: 20px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            z-index: 10;
        }
    }

    &__top {
        padding-top: 424px;
        background-color: #F9FBF9;

        &-inner {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-left: auto;
            width: 744px;
            padding-bottom: 32px;
        }

        &-title {
            flex-grow: 1;
        }
    }

    &__product {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        grid-column-gap: 24px;
        grid-row-gap: 40px;

        &-item {
            margin-right: 0;
        }
    }
}

.catalog__filter-control {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0 24px;
}

.catalog__filter-btn {
    position: relative;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    background-color: transparent;
    border: 2px solid transparent;
    cursor: pointer;
    padding: 6px 0;
    height: 40px;
    transition: border-bottom .3s;

    &:hover {
        transition: border-bottom .3s;
        border-bottom: 2px solid #000000;
    }

    &:focus {
        transition: border-bottom .3s;
        border-bottom: 2px solid #000000;
    }

    &-box {
        pointer-events: none;
        overflow: hidden;
        opacity: 0;
        transition: transform .3s, opacity .3s;
        transform: translateX(0%);

        &.active {
            pointer-events: auto;
            overflow: visible;
            opacity: 1;
            transition: transform .3s, opacity .3s;
            transform: translateX(0%);
        }
    }

    &-popular {
        margin-right: 8px;
        transition: all .3s;

        &::after {
            content: url(../images/icons/arrow-change.svg);
            position: absolute;
            top: 8px;
            right: -13px;
        }

        &:focus {
            transition: all .3s;
            color: rgba(0, 0, 0, 0.5);
            border-bottom: 2px solid rgba(0, 0, 0, 0.5);
        }
    }

    &-price {
        transition: all .3s;

        &::after {
            content: url(../images/icons/arrow-change.svg);
            position: absolute;
            top: 8px;
            right: -13px;
        }

        &:focus {
            transition: all .3s;
            color: rgba(0, 0, 0, 0.5);
            border-bottom: 2px solid rgba(0, 0, 0, 0.5);
        }
    }
}

.active.catalog__filter-btn-popular::after,
.active.catalog__filter-btn-popular::after {
    transition: all .3s;
    top: 4px;
    transform: rotate(180deg)
}


.catalog__filter-gender {
    display: flex;
    column-gap: 24px;
}

.catalog__filter-btn-him {
    color: #1638B5;

    &:hover {
        transition: border-bottom .3s;
        border-bottom: 2px solid #1638B5;
    }

    &:focus {
        transition: border-bottom .3s;
        border-bottom: 2px solid #1638B5;
    }
}

.catalog__filter-btn-her {
    color: #E131FE;

    &:hover {
        transition: border-bottom .3s;
        border-bottom: 2px solid #E131FE;
    }

    &:focus {
        transition: border-bottom .3s;
        border-bottom: 2px solid #E131FE;
    }
}

.catalog__filter-sort {
    display: flex;
    align-items: center;
    column-gap: 24px;
}

.filter__inner {
    position: absolute;
    top: 104px;
    left: 0;
    width: 556px;
    height: 100vh;
    transform: translateX(-500%);
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
    z-index: 999;
    opacity: 0;
    background-color: #ffffff;
    transition: transform .3s, opacity .3s;
}

.filter__inner.active {
    overflow: visible;
    opacity: 1;
    transition: opacity .3s;
    transform: translateY(0%);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.filter__btn-box {
    width: 360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form__filter {
    width: 360px;
    background-color: #ffffff;
    padding-right: 24px;
    margin-left: auto;
}

.form__filter-sort {
    display: none;
}

.form__filter-sort {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 16px;
}

.form__filter-sort-title {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    opacity: 0.5;
}

.form__filter-sort-popular {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-right: 24px;
}

.form__filter-sort-price {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.form__filter-label-price {
    display: flex;
    column-gap: 24px;
    align-items: center;
}

.form__filter-subtitle {
    display: block;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 16px;
    padding-left: 20px;
}

.form__filter-row {
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.form__filter-row:first-child {
    padding-top: 16px;
}

.form__filter-row:last-child {
    border-bottom: none;
}

.form__filter-price {
    @extend %montserrat-500;
    width: 100%;
    padding: 0px 8px 8px;
    border: none;
    outline: none;
    border-bottom: 1px solid #7a7a7a;
    opacity: 1;

    &::placeholder {
        @extend %montserrat-500;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
        opacity: 0.5;
    }

    &:focus {
        border-bottom: 1px solid #000000;
    }
}

/* МЕДИА-ЗАПРОСЫ */
@import 'media';