@import 'vars';
/* Переменные */
@import 'fonts';
/* Шрифты */
@import 'libs';
/*библиотеки*/
@import 'reset';
/* Сброс */
@import 'global';
/* Глобальные стили */


.goods__inner {
    max-width: 1512px;
}

.goods-content__top {
    display: flex;
    justify-content: space-between;
    column-gap: 24px;
    padding: 30px 0;
}

.goods-content__slide {
    display: flex;
    justify-content: space-between;
    width: 1000px;
}

.goods-content__slide-thumb {
    display: flex;
    flex-direction: column;
    min-width: 104px;
    margin-right: 10px;
    flex-grow: 1;
}


.goods-content__slide-thumb-item {
    min-width: 104px;
    height: 104px;
    cursor: pointer;
}

.goods-content__slide-thumb-img {
    min-width: 104px;
    height: 104px;
    object-fit: cover;
}

.goods-content__slide-big {
    width: 890px;
}

.goods-content__slide-big-img {
    width: 1000px;
    height: 544px;
    object-fit: cover;
}

.goods {
    padding: 100px 0;

    &__tabs {
        margin-bottom: 70px;
        width: 1000px;
        margin-left: auto;

        &-control {
            display: flex;
            align-items: center;
            column-gap: 24px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            margin-bottom: 24px;

            &-btn {
                color: #000000;
                font-size: 14px;
                line-height: 17px;
                border: 1px solid transparent;
                background: transparent;
                min-height: 40px;
                cursor: pointer;
                padding: 0 0 8px 0;
                border-bottom: 2px solid transparent;
                transition: border-bottom .3s;

                &--active {
                    transition: border-bottom .3s;
                    border-bottom: 2px solid #000000;
                }
            }
        }

        &-content-foto {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 20px;
        }
    }
}


.goods-content__desc {
    position: relative;
    width: 488px;
    margin-top: 24px;
}

.goods__title {
    @extend %montserrat-500;
    font-size: 56px;
    line-height: 80px;
    white-space: nowrap;
    position: absolute;
    top: -67px;
    left: -235px;
}

.goods__vendor {
    display: block;
    color: #000000;
    opacity: 0.5;
    margin-bottom: 40px;
}

.form__goods-checkbox-text {
    color: #000000;
    padding: 8px;
    border: 1px solid rgba($color: #000000, $alpha: 1);
}

.goods__form-subtitle {
    display: block;
    color: #000000;
    margin-bottom: 16px;
}

.goods__form-row {
    margin-bottom: 40px;
}

.goods__price {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

.goods__price-new {
    @extend %montserrat-500;
    font-size: 32px;
    line-height: 48px;
}

.goods__price-old {
    @extend %montserrat-500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    opacity: 0.5;
    margin-left: 8px;
}

.goods__btns {
    display: flex;
    column-gap: 8px;
}

.goods__btn-submit {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 16px;
    width: 100%;
    height: 56px;
    color: #FFFFFF;
    background-color: #000000;
    transition: opacity .3s;
    cursor: pointer;

    &:hover {
        transition: opacity .3s;
        background-color: #000000;
        opacity: 0.7;
    }

    & svg {
        margin-bottom: 5px;
    }
}

.goods__btn-like {
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    color: #FFFFFF;
    background-color: #000000;
    transition: opacity .3s;
    cursor: pointer;

    &:hover {
        transition: opacity .3s;
        background-color: #000000;
        opacity: 0.7;
    }
}

.goods__btn-like:hover svg path {
    transition: all .3s;
    stroke: $hover;
}

.goods__btn-like.goods__btn-like--active {
    svg path {
        fill: #ffffff;
        stroke: #ffffff;
    }
}

.goods__tabs-title {
    @extend %montserrat-700;
    color: #000000;
    font-size: 24px;
    line-height: 32px;
}

.goods__tabs-vendor {
    margin-bottom: 16px;
    opacity: 0.5;
    color: #000000;
}

.goods__tabs-text {
    margin-bottom: 24px;
}

.goods__tabs-subtitle {
    @extend %montserrat-700;
    margin-bottom: 16px;
}

.goods__tabs-list {
    width: 335px;
}

.goods__tabs-item {
    display: flex;
    column-gap: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 16px;
}

.goods__tabs-items {
    width: 200px;
    opacity: 0.5;
}

.goods__tabs-country {
    opacity: 0.5;
    margin-bottom: 16px;
}