@import 'vars';
/* Переменные */
@import 'fonts';
/* Шрифты */
@import 'libs';
/*библиотеки*/
@import 'reset';
/* Сброс */
@import 'global';
/* Глобальные стили */

/* swiper-bullets styling */

.swiper-container {
    width: 700px;
    padding-bottom: 50px;
}

.goods-slider {
    width: 1000px;
    position: relative;
    display: flex;
    margin-bottom: 52px;
}

.slider-nav {
    position: absolute;
    top: 40px;
    left: 16px;
    overflow: hidden;
    width: 120px;
    flex-shrink: 0;
    height: 470px;
    z-index: 99;
}

.slider-main {
    overflow: hidden;
    height: 544px;
}

.slider-nav .swiper-slide {
    width: 100px;
    min-height: 100px;
    cursor: pointer;
}

.slider-nav .swiper-slide img {
    max-height: 100%;
}

.slider-nav .swiper-slide.swiper-slide-visible.swiper-slide-thumb-active {
    border: 1px solid #000000;
    transition: all .3s;
}

.slider-nav .swiper-slide.swiper-slide-visible {
    margin-bottom: 16px !important;
    border: 1px solid transparent;
}

/* GOODS */

.goods {
    padding: 200px 0 65px;

    &__tabs {
        width: 1000px;
        margin-left: auto;

        &-control {
            display: flex;
            align-items: center;
            column-gap: 24px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            margin-bottom: 24px;

            &-btn {
                padding: 0;
                color: #000000;
                font-size: 16px;
                line-height: 24px;
                border: 1px solid transparent;
                background: transparent;
                min-height: 40px;
                cursor: pointer;
                border-bottom: 2px solid transparent;
                transition: border-bottom .3s;

                &--active {
                    transition: border-bottom .3s;
                    border-bottom: 2px solid #000000;
                }
            }
        }

        &-content-foto {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 20px;
        }

        &-title {
            @extend %montserrat-700;
            color: #000000;
            font-size: 24px;
            line-height: 32px;
        }

        &-vendor {
            margin-bottom: 16px;
            opacity: 0.5;
            color: #000000;
        }

        &-text {
            margin-bottom: 24px;
        }

        &-subtitle {
            @extend %montserrat-700;
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 16px;
        }

        &-list {
            width: 335px;
        }

        &-item {
            display: flex;
            column-gap: 16px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            margin-bottom: 16px;
        }

        &-items {
            width: 200px;
            opacity: 0.5;
        }

        &-country {
            opacity: 0.5;
            margin-bottom: 16px;
        }
    }
}

.goods__inner {
    position: relative;
}

.goods__top-box {
    position: absolute;
    top: -10px;
    right: 85px;
    z-index: 10;
}

.goods__title {
    @extend %montserrat-500;
    font-size: 56px;
    line-height: 80px;
    white-space: nowrap;
}

.goods__vendor {
    text-align: center;
    display: block;
    color: #000000;
    opacity: 0.5;
}

.goods-content__top {
    display: flex;
    justify-content: space-between;
    column-gap: 24px;
    padding: 30px 0;
}

.goods-content__slide-img {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
}

.goods-content__desc {
    position: relative;
    width: 488px;
    margin-top: 100px;
}

.goods__form {
    &-row {
        margin-bottom: 40px;
    }

    &-subtitle {
        display: block;
        color: #000000;
        margin-bottom: 16px;
    }
}

.form__goods-checkbox-text {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: #000000;
    border: 1px solid rgba($color: #000000, $alpha: 1);
}

.goods__price {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

.goods__price-new {
    @extend %montserrat-500;
    font-size: 32px;
    line-height: 48px;
}

.goods__price-old {
    @extend %montserrat-500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    opacity: 0.5;
    margin-left: 8px;
}

.goods__btns {
    display: flex;
    column-gap: 8px;
}

.goods__btn-submit {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 16px;
    width: 100%;
    height: 56px;
    color: #FFFFFF;
    background-color: #000000;
    transition: opacity .3s;
    cursor: pointer;

    &:hover {
        transition: opacity .3s;
        background-color: #000000;
        opacity: 0.7;
    }

    & svg {
        margin-bottom: 5px;
    }
}

.goods__btn-like {
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    color: #FFFFFF;
    background-color: #000000;
    transition: opacity .3s;
    cursor: pointer;

    &:hover {
        transition: opacity .3s;
        background-color: #000000;
        opacity: 0.7;

        & svg path {
            transition: all .3s;
            stroke: $hover;
        }
    }

    &.goods__btn-like--active {
        svg path {
            fill: #ffffff;
            stroke: #ffffff;
        }
    }
}

/* МЕДИА-ЗАПРОСЫ */
@import 'media';