@import 'vars';
/* Переменные */
@import 'fonts';
/* Шрифты */
@import 'libs';
/*библиотеки*/
@import 'reset';
/* Сброс */
@import 'global';
/* Глобальные стили */

.header {
    position: fixed;
    left: 0;
    right: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    transition: opacity .3s;
    z-index: 100;
    background-color: #FFFFFF;
    transition: all .3s;

    &:hover {
        .menu {
            height: 100%;
            transition: all .3s;
            visibility: visible;
            opacity: 1;
        }

        .header__bottom {
            height: 100%;
        }
    }

    &__inner {
        padding: 8px 0;
    }

    &__top {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        height: 100%;

        &.header__bottom--hidden {
            height: 0px;
        }
    }

    &__location {
        position: absolute;
        top: 8px;
        left: 71px;
    }
}

.burger {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    display: none;
    cursor: pointer;
}

.search {
    position: absolute;
    top: 9px;
    right: 210px;

    &-popup {
        overflow: hidden;
        opacity: 0;
        position: absolute;
        top: 45px;
        right: 30px;
        transition: opacity .3s;
        pointer-events: none;
        transform: translateY(-300%);

        &.active {
            transform: translateY(0);
            overflow: visible;
            opacity: 1;
            transition: opacity .3s;
        }
    }

    &__input {
        @extend %montserrat-500;
        border: none;
        background-color: transparent;
        border-bottom: 1px solid $hover;
        outline: none;
        color: $hover;
        padding: 0 8px 8px 8px;
    }

    &-link:hover svg path {
        transition: all .3s;
        fill: $hover;
    }
}

.overlay,
.menu-overlay {
    position: fixed;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.3);
    left: 0;
    top: 45px;
    height: 100%;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
}

.location-item {
    @extend %montserrat-400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 20px;
    transition: all .3s;
    cursor: pointer;

    &:hover {
        color: rgba(0, 0, 0, 0.5);
    }

    &::before {
        content: url(../images/icons/location.svg);
        position: relative;
        top: 3px;
        left: -10px;
    }

    &:last-child {
        margin-bottom: 0px;
    }
}

.modal-location {
    width: 300px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    opacity: 0;
    position: absolute;
    left: -12px;
    transition: opacity .3s;
    background-color: #fff;
    padding: 40px;
    pointer-events: none;
    transform: translateY(-300%);

    &.active {
        transform: translateY(0);
        overflow: visible;
        opacity: 1;
        transition: opacity .3s;
    }
}

.menu {
    visibility: visible;
    opacity: 1;
    height: 100%;

    &.menu--hidden {
        visibility: hidden;
        opacity: 0;
        height: 0;
    }

    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 32px
    }

    &__item {
        padding-top: 31px;
    }

    &__link {
        color: $text;
    }
}

.user-nav {
    display: flex;
    align-items: center;
    column-gap: 24px;
    position: absolute;
    top: 8px;
    right: 61px;

    &__item {
        position: relative;
    }

    &__link {
        position: relative;
        transition: all .3s;
    }
}

.favor-link {
    &:hover svg path {
        transition: all .3s;
        stroke: $hover;
    }

    &:active svg path {
        fill: #FF6666;
        stroke: #FF6666;
    }

    &:focus svg path {
        fill: #faadad;
        stroke: #faadad;
    }
}

.basket-link {
    &:hover svg path {
        transition: all .3s;
        stroke: $hover;
    }

    &:hover {
        .nav__num {
            transition: all .3s;
            color: $hover;
        }
    }
}

.user-link {

    &:hover svg path,
    &:hover svg circle {
        transition: all .3s;
        stroke: $hover;
    }
}

.nav__num {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 10px;
    top: -19px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(1px);
    border-radius: 16px;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

/* МЕДИА-ЗАПРОСЫ */
@import 'media';