@import 'vars';
/* Переменные */
@import 'fonts';
/* Шрифты */
@import 'libs';
/*библиотеки*/
@import 'reset';
/* Сброс */
@import 'global';
/* Глобальные стили */

@import 'swiper/css';

/* SLIDER-MAIN */

.slider {
    padding-bottom: 80px;

    &__item {
        min-height: 720px;

        &-box {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-first {
            background: #C4F5BC;
        }

        &-second {
            background: #F5ECBC;
        }

        &-third {
            background: #FACAC0;
        }

        &-fourth {
            background: #C0C3FA;
        }

        &-fifth {
            background: #B5EBEB;
        }
    }

    &__content {
        margin-top: 256px;
        width: 744px;
    }

    &__title {
        @extend %montserrat-700;
        font-size: 48px;
        line-height: 72px;
        letter-spacing: 0.03em;
        max-width: 600px;
        margin-bottom: 8px;
    }

    &__descr {
        max-width: 300px;
        margin-bottom: 40px;
    }

    &__btn {
        @extend %btn;
        width: 220px;
        height: 56px;
    }
}

.recom,
.viewed {
    margin-bottom: 80px;
}

.new,
.hit,
.stock {
    padding-bottom: 80px;
}

.title__new,
.title__stock,
.title__hit {
    @extend %montserrat-500;
    color: $text;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 0.05em;
}

.top {
    padding-bottom: 160px;
}

.top__inner {
    display: flex;
    justify-content: space-between;
    column-gap: 24px;
}

.top__img-him:hover {
    transition: all .3s;
    box-shadow: 0px 0px 24px rgba(55, 63, 255, 0.6);
    background: linear-gradient(0deg, rgba(22, 56, 181, 0.1), rgba(22, 56, 181, 0.1));
    background-blend-mode: color, normal;
}

.top__img-her:hover {
    transition: all .3s;
    background: linear-gradient(0deg, rgba(225, 49, 254, 0.1), rgba(225, 49, 254, 0.1));
    box-shadow: 0px 0px 24px rgba(225, 49, 254, 0.6);
}

.top__subtitle {
    @extend %montserrat-500;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0.04em;
    text-align: right;
    display: none;
}

.top__subtitle-him {
    color: #1638B5;
}

.top__subtitle-her {
    color: #E131FE;
}

.stock__slider-item {
    max-width: 616px;
}

.stock__slider-item {
    margin-right: 24px;
}

.stock__slider-top {
    height: 360px;
    background: #000000;
    opacity: 0.1;
    margin-bottom: 16px;
}

.stock__slider-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stock__slider-title {
    cursor: pointer;
}

.stock__slider-link,
.stock__slider-data {
    @extend %montserrat-400;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
}


//LOGIN, REGISTRATION1, REGISTRATION2, REGISTRATION3

.login,
.registration {
    max-width: 716px;
    margin: 0 auto;
    padding: 144px 0;
}

.login__title,
.registration__title {
    margin-bottom: 40px;
}

.form__box-container {
    margin-bottom: 24px;
}

.form__box-pass-repeat {
    margin-top: 24px;
}

.form__box-pass {
    margin-bottom: 8px;
}

.form__box-phone {
    margin-bottom: 24px;
}

.form__label {
    display: block;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    opacity: 0.5;
}

.form__input {
    @extend %montserrat-500;
    width: 100%;
    padding: 0px 8px 8px;
    border: none;
    outline: none;
    border-bottom: 1px solid #7a7a7a;
    margin-top: 8px;
    opacity: 1;

    &::placeholder {
        @extend %montserrat-500;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
        opacity: 0.5;
    }

    &:focus {
        border-bottom: 1px solid #000000;
    }
}

.form__link {
    display: block;
    @extend %montserrat-500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    text-align: right;
    opacity: 0.5;
    transition: opacity .3s;

    &:hover {
        transition: opacity .3s;
        opacity: 1;
    }
}

.form__box {
    margin-top: 32px;
}

.form__input-checkbox {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;

    &:checked+.form__input-checkbox-sqr {
        background-color: #000000;
    }

    &:checked+.form__filter-checkbox-sqr {
        background-color: rgba(0, 0, 0, 0.5);
    }

    &:checked+.form__filter-text {
        color: rgba(0, 0, 0, 0.5);
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    }

    &:checked+.form__goods-checkbox-text {
        color: rgba(0, 0, 0, 0.5);
        border: 1px solid rgba(0, 0, 0, 0.5);
    }
}

.form__input-checkbox-text {
    margin-left: 24px;
    cursor: pointer;
}

.form__goods-checkbox-text {
    margin-left: 0;
}

.form__filter-text {
    margin: 16px 24px 16px 0;
    cursor: pointer;
    transition: border-bottom .3s;
    border-bottom: 1px solid rgba(0, 0, 0, 0);

    &:hover {
        transition: border-bottom .3s;
        border-bottom: 1px solid rgba(0, 0, 0, 1);
    }
}

.form__input-checkbox-sqr {
    position: absolute;
    margin: 8px 0 0 8px;
    width: 8px;
    height: 8px;
    cursor: pointer;
}

.form__filter-checkbox-sqr {
    background-color: rgba(0, 0, 0, 1);
}

.form__filter-checkbox-text {
    transition: color .3s;
}

.form__filter-checkbox-text:hover {
    transition: color .3s;
    color: rgba(0, 0, 0, 0.5);
}

.form__link-policy {
    @extend %montserrat-500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;

    &:hover {
        transition: opacity .3s;
        opacity: 0.5;
    }
}

.form__btn {
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 100%;
    height: 56px;
    color: #FFFFFF;
    background-color: #000000;
    opacity: 0.2;
    transition: opacity .3s;
    cursor: pointer;
    margin-top: 8px;

    &:hover {
        transition: opacity .3s;
        background-color: #000000;
        opacity: 0.7;
    }

    &:active {
        transition: opacity .3s;
        background-color: #000000;
        opacity: 1;
    }
}

.form__btn-submit-login {
    margin-top: 24px;

}

//end login, registration page----------------------

//ACCOUNT

.account {
    padding: 136px 0 80px;
}

.account__top {
    display: flex;
    align-items: center;
    column-gap: 24px;
}

.account__img {
    width: 104px;
    height: 104px;
}

.account__top-box {
    display: flex;
    align-items: center;
    column-gap: 2px;
}

.account__title {
    @extend %montserrat-700;
    font-size: 32px;
    line-height: 48px;
    color: #000000;
}

.account__change-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.account__inner {
    display: flex;
    justify-content: space-between;
    column-gap: 24px;
}

.account__user-info {
    max-width: 744px;
    margin-top: 40px;
}

.form__account {
    padding-top: 32px;
}

.form__account-box-email {
    width: 300px;
    height: 64px;
}

.form__input-radio-text {
    margin: 0 12px;
    cursor: pointer;
}

.form__input-radio-sqr {
    margin: 8px 0 0 0;
}

.form__account-box-phone {
    width: 173px;
    height: 64px;
}

.form__account-box {
    display: flex;
    column-gap: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 24px;
    margin-bottom: 24px;
}

.form__account-subtitle {
    display: block;
}

.form__box-gender {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 185px;
    height: 56px;
}

.form__account-gender {
    display: flex;
}

.form__account-title {
    margin-bottom: 24px;
}

.form__address {
    display: flex;
    column-gap: 24px;
    margin-bottom: 24px;
}

.form__address:last-child {
    margin-bottom: 0px;
}

.form__box-address {
    width: 100%;
}

.account__notifications {
    max-width: 744px;
}

.account__notifications-conternt {
    height: 440px;
    overflow-x: auto;
}

.account__notifications-title {
    @extend %montserrat-500;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0.04em;
    color: #000000;
    text-align: right;
    margin-bottom: 16px;
}

.form__account-title {
    @extend %montserrat-500;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0.04em;
    color: #000000;
}

.account__notifications-item {
    padding: 32px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 24px;
}

.account__notifications-item:last-child {
    margin-bottom: 0px;
}

.account__notifications-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.account__notifications-subtitle {
    @extend %montserrat-500;
    font-size: 24px;
    line-height: 32px;
    color: $text;
}

.account__notifications-time {
    @extend %montserrat-500;
}

//end account----------------------

//CONTACT

.contact__phone {
    @extend %montserrat-500;
    margin-bottom: 8px;
}

.contact__address {
    @extend %montserrat-400;
    font-style: normal;
}

//end contact----------------------

//FAQ

.faq__connection {
    max-width: 744px;
}

//end faq----------------------


//SERVICE

.service {
    padding: 144px 0 80px;
}

.service__title {
    @extend %montserrat-500;
    font-size: 48px;
    line-height: 72px;
    text-transform: lowercase;
}

.service__subtitle {
    @extend %montserrat-500;
    font-size: 32px;
    line-height: 48px;
    max-width: 440px;
}

.service__inner {
    max-width: 1256px;
    margin: 0 auto;
    margin-top: 80px;
}

.service__item {
    margin-bottom: 40px;
}


.service__box {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-left: 512px;
    padding-top: 8px;
}

.service__list-item {
    position: relative;
    margin-bottom: 10px;
    text-indent: 10px;
}

.dots-list::before {
    content: '.';
    position: absolute;
    font-size: 35px;
    top: -11px;
    left: -11px;
}

.service__text {
    margin-bottom: 10px;
}

.quotes:after,
.quotes:before {
    content: '\0022';
}

//end service----------------------

//FAVORITE

.favorites__title {
    @extend %montserrat-500;
    font-size: 48px;
    line-height: 72px;
    margin-bottom: 24px;
}

.favorites__new,
.favorites__sale {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background: #FF6666;
    color: #FFFFFF;
}

//CART

.cart__title {
    @extend %montserrat-500;
    font-size: 48px;
    line-height: 72px;
    margin-bottom: 24px;
}

.cart__inner {
    display: flex;
    justify-content: space-between;
    column-gap: 24px;
}

.cart__product {
    height: 488px;
    overflow-x: auto;
    width: 1000px;
}

.form__cart-address {
    display: flex;
    column-gap: 24px;
    margin-bottom: 40px;
}

.form__cart-box {
    margin-bottom: 24px;
}

.product-min__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;

}

.product-min__box {
    width: 360px;
}



.product-min__item-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 24px;
}

.product-min__title {
    margin-bottom: 8px;
}

.product-min__title-link {
    font-size: 24px;
    line-height: 32px;
    color: #000000;
    cursor: pointer;
}

.product-min__item-price {
    font-size: 24px;
    line-height: 32px;
    @extend %montserrat-500;
    text-align: right;
    color: #000000;
}

.product-min__size {
    color: rgba(0, 0, 0, 0.5);
}

.quantity {
    display: flex;
    column-gap: 16px;
}

.quantity__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 32px;
    height: 32px;
    border: 1px solid #000000;
    background-color: transparent;
    cursor: pointer;
    transition: all .3s;

    &:hover svg path {
        transition: all .3s;
        fill: rgba(0, 0, 0, 0.5)
    }

    &:hover {
        transition: all .3s;
        border-color: rgba(0, 0, 0, 0.5)
    }
}

.quantity__input {
    text-align: center;
    font-size: 24px;
    line-height: 32px;
    outline: none;
    color: #000000;
    border: none;
    width: 32px;
    height: 32px;
    border-bottom: 1px solid #000000;
    background-color: #FFFFFF;
    border-radius: 0px;

    &:hover {
        transition: all .3s;
        color: rgba(0, 0, 0, 0.5)
    }
}

.form__cart-btn {
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 100%;
    height: 56px;
    color: #FFFFFF;
    background-color: #000000;
    opacity: 1;
    transition: opacity .3s;
    cursor: pointer;
    margin-top: 8px;

    &:hover {
        transition: opacity .3s;
        background-color: #000000;
        opacity: 0.7;
    }

    &:active {
        transition: opacity .3s;
        background-color: #000000;
        opacity: 0.2;
    }
}

.form__cart-promo {
    align-self: flex-end;
    margin-top: 0;
    margin-bottom: 8px;
}

.form__cart-bottom {
    display: flex;
    justify-content: space-between;
    column-gap: 32px;
    text-align: right;
    margin-bottom: 8px;
}

.form__cart-text {
    color: #000000;
    opacity: 0.5;
}

.form__cart-sale {
    margin-bottom: 8px;
}

.form__cart-price {
    @extend %montserrat-500;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
    opacity: 0.8;
    white-space: nowrap;
}

.form__cart-total {
    @extend %montserrat-700;
    font-size: 32px;
    line-height: 48px;
    color: #000000;
    white-space: nowrap;
}

//end cart----------------------

//SHOPPING

.shopping__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
}

.shopping__active {
    margin-bottom: 40px;
}

.shopping__title {
    @extend %montserrat-500;
    font-size: 48px;
    line-height: 72px;
    margin-bottom: 24px;
    margin-bottom: 24px;
}

.shopping__item {
    flex-basis: 744px;
    display: flex;
    justify-content: space-between;
}

.shopping__img {
    min-width: 104px;
    height: 104px;
}

.shopping__box {
    display: flex;
    column-gap: 24px;
}

.shopping__process {
    @extend %montserrat-500;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
}

.shopping__num {
    opacity: 0.5;
    margin-bottom: 24px;
}

.shopping__drop-box {
    display: none;

    &.active {
        display: block;
    }
}

.shopping__row-box {
    max-width: 360px;
}

.shopping__column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
}

.shopping__title-link,
.shopping__drop-link {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    transition: all .3s;

    &:hover {
        transition: all .3s;
        color: rgba(0, 0, 0, 0.5)
    }
}

.shopping__drop-box-item {
    margin-bottom: 8px;
}

.shopping__link-more {
    color: #000000;
    cursor: pointer;
    opacity: 0.5;
    transition: all .3s;

    &:hover {
        transition: all .3s;
        opacity: 1;
    }
}

.shopping__btn-info {
    align-self: flex-end;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all .3s;

    &:hover svg path {
        transition: all .3s;
        fill: rgba(0, 0, 0, 0.5)
    }
}

.shopping__item-price {
    @extend %montserrat-500;
    font-size: 24px;
    line-height: 32px;
    text-align: right;
    color: #000000;
    white-space: nowrap;
}

.shopping__popup {
    display: none;
}

.shopping__popup.active {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 8px;
    top: 25px;
    right: 13px;
    padding: 16px 25px;
    position: absolute;
    z-index: 10;
    width: 232px;
    height: 120px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.shopping__popup-btn {
    border: none;
    background-color: transparent;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    cursor: pointer;
    transition: all .3s;

    &:hover {
        transition: all .3s;
        opacity: 0.5;
    }
}


/* МЕДИА-ЗАПРОСЫ */
@import 'media';