@import 'vars';
/* Переменные */
@import 'fonts';
/* Шрифты */
@import 'libs';
/*библиотеки*/
@import 'reset';
/* Сброс */
@import 'global';
/* Глобальные стили */

.product {
    &__inner {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        grid-column-gap: 24px;
        grid-row-gap: 40px;
    }

    &__item {
        &-box {
            position: relative;
            margin-bottom: 24px;
        }

        &-img {
            height: 100%;
            object-fit: cover;
        }

        &-row {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 94%;
            height: 40px;
            margin: 8px;
        }
    }

    &__new,
    &__sale {
        @extend %montserrat-700;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px;
        width: 40px;
        height: 24px;
        background: #FF6666;
        color: #FFFFFF;
    }

    &__favor-link {
        width: 100%;
        text-align: right;
    }

    &__title {
        margin-bottom: 8px;

        &-link {
            font-size: 24px;
            line-height: 32px;
            margin-bottom: 8px;
            color: #000000;
        }
    }

    &__price-new {
        @extend %montserrat-500;
        display: inline-block;
        font-size: 24px;
        line-height: 32px;
    }

    &__price-old {
        @extend %montserrat-500;
        display: inline-block;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
        opacity: 0.5;
        margin-left: 8px;
    }
}

/* МЕДИА-ЗАПРОСЫ */
@import 'media';