@import 'vars';
/* Переменные */
@import 'fonts';
/* Шрифты */
@import 'libs';
/*библиотеки*/
@import 'reset';
/* Сброс */
@import 'global';
/* Глобальные стили */


.slider {
    padding-bottom: 80px;
}

.slider__item {
    min-height: 720px;
}

.slider__item-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider__item-first {
    background: #C4F5BC;
}

.slider__item-second {
    background: #F5ECBC;
}

.slider__item-third {
    background: #FACAC0;
}

.slider__item-fourth {
    background: #C0C3FA;
}

.hslider__item-fifth {
    background: #B5EBEB;
}

.slider__content {
    margin-top: 256px;
    width: 744px;
}

.slider__title {
    @extend %montserrat-700;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 0.03em;
    max-width: 600px;
    margin-bottom: 8px;
}

.slider__descr {
    max-width: 300px;
    margin-bottom: 40px;
}

.slider__btn {
    @extend %btn;
    width: 220px;
    height: 56px;
}